#{extends 'main.html' /}
#{set title:'Question' /}

<h1>Hello World!</h1>
#{if question}
<h2>${question.content()}</h2>
${question.downVotes()} - ${question.upVotes()}
<ul>
#{list items:answers, as:'answer'}
<li>${answer.content()} ${answer.upVotes()} - ${answer.downVotes()} <a href="@{Secured.voteAnswerUp(question.id(), answer.id())}">Up</a>
						<a href="@{Secured.voteAnswerDown(question.id(), answer.id())}">Down</a></li>
#{/list}
</ul>
#{/if}#{else}
<h2>Question does not exist</h2>
#{/else}

#{if user}

	#{form @Secured.newAnswer(question.id())}

		#{field 'content'}
       		<label>New Answer:</label>
        	<textarea name="${field.name}" class="${field.errorClass}"></textarea>
		#{/field}
		<input type="submit" value="Post" />
	#{/form}

	<a href="@{Secured.voteQuestionUp(question.id())}">Up</a>
	<a href="@{Secured.voteQuestionDown(question.id())}">Down</a>

	<a href="@{Secure.logout}">Logout</a>
	
#{/if}
#{else}

	<a href="@{Secure.login}">Login</a>
	
#{/else}